body {
  background-color: #000000;
  font-family: Consolas, monospace;
  color: #00aa00;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.dork-container {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  margin: auto;
  box-sizing: border-box;
}

input, select, button {
  width: 100%;
  box-sizing: border-box;
}


h1 {
  text-align: center;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  font-size: 13px;
  color: #00aa00;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 15px;
  font-size: 14px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  background: #020403;
  color: #00aa00;
  border: 1px solid #00aa00;
}

button {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background: #00aa00;
  color: #000;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #00aa00;
}

.output {
  margin-top: 20px;
  background: #020403;
  padding: 10px;
  border: 1px dashed #00aa00;
}

code {
  word-wrap: break-word;
  display: block;
  font-size: 13px;
}
